h1 {
  padding-left: 80px;
}

section {
  text-align: left;
  padding-left: 40px;
  padding-right: 80px;
}

.Article {
  padding-left: 80px;
}

.Comments {
  padding-left: 0px;
}

.CommentAdder {
  padding-left: 0px;
}

.user-list {
  list-style-type: none;
  margin-left: 60px;
  margin-right: 60px;

  padding-top: 20px;
  text-align: center;
}

.user-list-text {
  list-style-type: none;

  text-align: center;
}

.user-img {
  width: 10em;
  height: 10em;
  padding: 1em;
}

#img-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#img-wrapper > div {
  flex: 0 1 33%;
}

.formLabel {
  align-items: top;
}

.formField {
  align-items: top;

  margin-left: 40px;
  padding-right: 40px;
}

.loading {
  text-align: left;
  padding-left: 80px;
  padding-top: 40px;
}

.about {
  text-align: left;
  padding-left: 40px;
}

.Nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 40;
  overflow: hidden;
  background-color: rgb(198, 186, 241);
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
}

/* Change the link color to #111 (black) on hover */
.li a:hover {
  background-color: rgb(140, 122, 122);
}

.ul {
  display: flex;
  list-style-type: none;
}

button {
  margin-right: 20px;
  background-color: rgb(144, 126, 209);
}
