h1 {
  padding-left: 80px;
}

section  {
  text-align: left;
  padding-left: 40px;
}

.loading {
  text-align: left;
  padding-left: 80px;
  padding-top: 40px;

}

.about  {
  text-align: left;
  padding-left: 40px;
}

.Nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 40;
  overflow: hidden;
  background-color: rgb(209, 126, 184);
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li a:hover {
  background-color: #111;
}

.ul {
  display: flex;
  list-style-type: none;
}