h1 {
  text-align: left;
  padding-left: 40px;
  margin: 40px;
}

main {
  text-align: left;
  padding-left: 40px;
}

.Nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(209, 126, 184);
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li a:hover {
  background-color: #111;
}

.Articles {
  text-align: left;
  list-style-type: none;
  background-color: white;
  color: black;
}

.ul {
  display: flex;
  list-style-type: none;
}